/*
developer.dol.gov
*/
/* 
    Created on : Jan 20, 2015, 10:45:53 AM
    Author     : Neil Neyman <neyman.neil.e@dol.gov>
*/
.valign_parent {
    display: table;
    width: 100%;
}

#choose {
    width: 100%;
    height: 600px;
    background-image: url("../img/devs_coffee.jpg");
    display: table-cell;
    vertical-align: middle;
    position: relative;
}

.hometext {
    text-align: center;
    color: white;
    font-family: 'Open Sans', sans-serif;
    background-size: 100%;
    background-repeat: no-repeat;
    
}

.hometext p {
    font-size: 22px;
    font-weight:300;
    color: white;
}


.hometext h1 {
    font-size: 42px;
    font-weight: bold;
    color: white;
}

#choose .button {
    background-color: black;
    opacity: .8;
    font-family: 'Open Sans', sans-serif;
    font-weight:300;
}

.cb1 {
    position:relative; left: 200px;
}
.cb2 {
    position:relative; right: 200px;
}

#stats {
    background-color: #ffffff;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-weight:300;
}

#stats p {
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
    font-weight:300;
    
}

#stats h1 {
    font-size: 36px;
    font-weight: bold;
}

#stats table {
    border: none;
    border-collapse: collapse;
    padding: 0;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    table-layout: fixed;
    width: 100%;
   
}

#stats .button {
    background-color: black;
    opacity: 1;
     font-family: 'Open Sans', sans-serif;
    font-weight:200;
}

#cpi {
    width: 100%;
    height: 500px;
    color: white;
    
}



#cpi .button {
    background-color: black;
    opacity: .8;
    font-family: 'Open Sans', sans-serif;
    font-weight:300;
}

#cpi table {
    border: none;
    border-collapse: collapse;
    padding: 0;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    background-image: url("../img/cpi_back.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    
   
}



#grab {
    width: 100%;
    background-color: #EEEEEE;
    height: 500px; 
    display: table-cell;
    vertical-align: middle;
    text-align: center;    
}

#grab h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight:bold;
    font-size: 30px;
    color: black;
}

.grabdiv {
    float: left;
    width: 33%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight:300;
    font-size: 20px;
    color: black;
}

.grabdiv h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight:bold;
    font-size: 24px;
    color: black;
}

#grab .button {
    background-color: black;
    opacity: 1;
     font-family: 'Open Sans', sans-serif;
    font-weight:200;
}

#grab img {
    height: 125px;
}



.custom-alert-box {
    font-family: 'Open Sans', sans-serif;
    color: white;
    background: #0A4366;
    text-align: center;
    line-height: 2.5;
    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow:    0 0 5px black;
    box-shadow:         0 0 5px black;
}
