.post_title_dataset {
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: black;
    margin-top: 20px;
}

.menu_title_dataset {
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 22px;
    color: black;
    margin-top: 20px;

}

.menu_title_dataset_img {
    height: 60px;
    width: 60px;
    margin-top: 20px;
}

.post_content_dataset a:hover {
    text-decoration: underline;
}
.post_content_dataset,
.post_content_dataset p {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: black;
}

.post_content_dataset h2, {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 28px;
    color: black;
}

.post_content_dataset h2 a {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 28px;
}

.anchorlinks h2 a,
.anchorlinks h2 a:hover,
.anchorlinks h3 a,
.anchorlinks h3 a:hover,
.anchorlinks a,
.anchorlinks a:hover {
    color: #000000;
    text-decoration: none;
    
}

.post_content_dataset h2 a:hover {
    text-decoration: none;
}

.post_content_dataset h3,
.post_content_dataset h3 a,
.post_content_dataset h3 a:hover {
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: black;
    text-decoration: none;

}

.post_content_dataset tr th:nth-of-type(3),
.post_content_dataset tr td:nth-of-type(2) {
    white-space: nowrap !important;
}

.post_content_dataset tr:nth-child(even) {
    background-color: #F3F3F3;
}

.post_content_dataset thead tr {
    background-color: #D9D9D9;
}

.accordion .accordion-navigation > a, .accordion dd > a  {
    background-color: white;
    border-bottom: solid;
    border-width: 1px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

.accordion .accordion-navigation.active > a, .accordion dd.active > a {
    border-left: solid;
    background-color: white;
    border-left-color: darkred;
    border-left-width: 10px;
}

.content a {
    font-size: 14px;
    color: black;
}

.content 

.content a:hover {
    color: #0078a0 !important;
    text-decoration: underline !important;
}

.content a:active,
.current_item,
.current_item a{
    color: #black;
    font-weight: bold;
}

article {
    min-height: 700px;
}