<ul class="tabs" data-tab>
    <li class="tab-title"><a href="#apiv1">api.dol.gov</a></li>
    <li class="tab-title"><a href="#apiv2">data.dol.gov</a></li>
</ul>

<div class="tabs-content">
    <div class="content" id="apiv1">

        {{ anchors | markdownify }}


        <div class="post_content_dataset">
            <h2 class="anchorlinks" id="requesting">Requesting Dataset Metadata</h2>

            <h3>Authentication</h3>

            <p>This method does not require authentication. An API key is <strong>not</strong> required.</p>

            <h3>Arguments</h3>

            <p>$metadata (required)</p>

            <h3>Example URL</h3>

            <p>Read the metadata for the FORMS dataset</p>
            <pre><code>http://api.dol.gov/V1/FORMS/$metadata</code></pre>
            <h3>HTTP Error Codes</h3>
            <table summary="Requesting Dataset Metadata - Accessing the APIs Using HTTP Requests">
                <caption>Requesting Dataset Metadata - HTTP Error Codes</caption>
                <thead>
                <tr>
                    <th scope="col">Error Code</th>
                    <th scope="col">Error Text</th>
                    <th scope="col">Comments</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>404</td>
                    <td>Resource not found</td>
                    <td>The dataset name or table name is invalid</td>
                </tr>
                </tbody>
            </table>
            <h3>Comments</h3>
            None
        </div>
        <hr>
        <div class='post_content_dataset'>
            <div class='col12 pad1y'>
                <h2 class="anchorlinks" id="reading">Reading a table</h2>

                <h3>Authentication</h3>

                <p>This method does not require authentication.</p>

                <h3>Arguments</h3>

                <p>None</p>

                <h3>Example URL</h3>

                <p>Read Agencies table from the FORMS dataset</p>
                <pre><code>http://api.dol.gov/V1/FORMS/Agencies</code></pre>
                <h3>HTTP Error Codes</h3>
                <table summary="Reading a table - Accessing the APIs Using HTTP Requests">
                    <caption>Reading a Table - HTTP Error Codes</caption>
                    <thead>
                    <tr>
                        <th scope="col">Error Code</th>
                        <th scope="col">Error Text</th>
                        <th scope="col">Comments</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>404</td>
                        <td>Resource not found</td>
                        <td>The dataset name or table name is invalid</td>
                    </tr>
                    </tbody>
                </table>
                <h3>Comments</h3>
                A maximum of 100 records will be returned
            </div>
        </div>
        <hr>
        <div class='post_content_dataset'>
            <div class='col12 pad2y'>
                <h2 class="anchorlinks" id="limit">Limit the number of results returned</h2>

                <h3>Authentication</h3>

                <p>This method does not require authentication.</p>

                <h3>Arguments</h3>

                <p>$top (required)</p>

                <h3>Example URL</h3>

                <p>Read the first 10 records of the Agencies table from the FORMS dataset</p>
                <pre><code>http://api.dol.gov/V1/FORMS/Agencies?$top=10</code></pre>
                <h3>HTTP Error Codes</h3>
                <table summary="Limit the number of results returned - Accessing the APIs Using HTTP Requests">
                    <caption>Limit the Number of Results Returned - HTTP Error Codes</caption>
                    <thead>
                    <tr>
                        <th scope="col">Error Code</th>
                        <th scope="col">Error Text</th>
                        <th scope="col">Comments</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>400</td>
                        <td>Bad Request</td>
                        <td>The query contains an error. Read returned value for specific error.</td>
                    </tr>
                    <tr>
                        <td>404</td>
                        <td>Resource not found</td>
                        <td>The dataset name or table name is invalid</td>
                    </tr>
                    </tbody>
                </table>
                <h3>Comments</h3>
                A maximum of 100 records will be returned
            </div>
        </div>
        <hr>
        <div class='post_content_dataset'>
            <div class='col12 pad1y'>
                <h2 class="anchorlinks" id="skip">Skip a Number of Results</h2>

                <h3>Authentication</h3>

                <p>This method does not require authentication</p>

                <h3>Arguments</h3>

                <p>$skip (required)</p>

                <h3>Example URL</h3>

                <p>Read the Agencies table from the FORMS dataset, skipping the first 5 results</p>
                <pre><code>http://api.dol.gov/V1/FORMS/Agencies?$skip=5</code></pre>
                <h3>HTTP Error Codes</h3>
                <table summary="Skip a Number of Results - Accessing the APIs Using HTTP Requests">
                    <caption>Skip a Number of Results - HTTP Error Codes</caption>
                    <thead>
                    <tr>
                        <th scope="col">Error Code</th>
                        <th scope="col">Error Text</th>
                        <th scope="col">Comments</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>400</td>
                        <td>Bad Request</td>
                        <td>The query contains an error. Read returned value for specific error.</td>
                    </tr>
                    <tr>
                        <td>404</td>
                        <td>Resource not found</td>
                        <td>The dataset name or table name is invalid</td>
                    </tr>
                    </tbody>
                </table>
                <h3>Comments</h3>
                A maximum of 100 records will be returned
            </div>
        </div>
        <hr>
        <div class='post_content_dataset'>
            <div class='col12 pad1y'>
                <h2 class="anchorlinks" id="pagination">Data Pagination by Combining Top and Skip</h2>

                <h3>Authentication</h3>

                <p>This method does not require authentication</p>

                <h3>Arguments</h3>

                <p>$top (required)</p>

                <p>$skip (required)</p>

                <h3>Example URL</h3>

                <p>Read records 21-30 from the Agencies table in FORMS dataset</p>
                <pre><code>http://api.dol.gov/V1/FORMS/Agencies?$skip=20&amp;$top=10</code></pre>
                <h3>HTTP Error Codes</h3>
                <table summary="Data Pagination by Combining Top and Skip - Accessing the APIs Using HTTP Requests">
                    <caption>Data Pagination by Combining Top and Skip - HTTP Error Codes</caption>
                    <thead>
                    <tr>
                        <th scope="col">Error Code</th>
                        <th scope="col">Error Text</th>
                        <th scope="col">Comments</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>400</td>
                        <td>Bad Request</td>
                        <td>The query contains an error. Read returned value for specific error.</td>
                    </tr>
                    <tr>
                        <td>404</td>
                        <td>Resource not found</td>
                        <td>The dataset name or table name is invalid</td>
                    </tr>
                    </tbody>
                </table>
                <h3>Comments</h3>
                A maximum of 100 records will be returned
            </div>
        </div>
        <hr>
        <div class='post_content_dataset'>
            <div class='col12 pad1y'>
                <h2 class="anchorlinks" id="select">Selecting Specific Columns</h2>

                <h3>Authentication</h3>

                <p>This method does not require authentication</p>

                <h3>Arguments</h3>

                <p>$select</p>

                <h3>Example URL</h3>

                <p>Read records from the AgencyForms table in FORMS dataset, returning only the FormNumber and Title
                    columns.</p>
                <pre><code>http://api.dol.gov/V1/FORMS/AgencyForms?$select=FormNumber,Title</code></pre>
                <h3>HTTP Error Codes</h3>
                <table summary="Selecting Specific Columns - Accessing the APIs Using HTTP Requests">
                    <caption>Selecting Specific Columns - HTTP Error Codes</caption>
                    <thead>
                    <tr>
                        <th scope="col">Error Code</th>
                        <th scope="col">Error Text</th>
                        <th scope="col">Comments</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>400</td>
                        <td>Bad Request</td>
                        <td>The query contains an error. Read returned value for specific error.</td>
                    </tr>
                    <tr>
                        <td>404</td>
                        <td>Resource not found</td>
                        <td>The dataset name or table name is invalid</td>
                    </tr>
                    </tbody>
                </table>
                <h3>Comments</h3>
                A maximum of 100 records will be returned
            </div>
        </div>
        <hr>
        <div class='post_content_dataset'>
            <div class='col12 pad1y'>
                <h2 class="anchorlinks" id="sort">Sorting Data</h2>

                <h3>Authentication</h3>

                <p>This method does not require authentication</p>

                <h3>Arguments</h3>

                <p>$orderby</p>

                <h3>Example URLs</h3>

                <p>Read records from the AgencyForms table in FORMS dataset, sorting by the FormNumber column.</p>
                <pre><code>http://api.dol.gov/V1/FORMS/AgencyForms?$orderby=FormNumber</code></pre>
                <p>To sort the column by desc order, add desc after the column name </p>
                <pre><code>http://api.dol.gov/V1/FORMS/AgencyForms?$orderby=FormNumber desc</code></pre>
                <h3>HTTP Error Codes</h3>
                <table summary="Sorting Data - Accessing the APIs Using HTTP Requests">
                    <caption>Sorting Data - HTTP Error Codes</caption>
                    <thead>
                    <tr>
                        <th scope="col">Error Code</th>
                        <th scope="col">Error Text</th>
                        <th scope="col">Comments</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>400</td>
                        <td>Bad Request</td>
                        <td>The query contains an error. Read returned value for specific error.</td>
                    </tr>
                    <tr>
                        <td>404</td>
                        <td>Resource not found</td>
                        <td>The dataset name or table name is invalid</td>
                    </tr>
                    </tbody>
                </table>
                <h3>Comments</h3>
                <ul>
                    <li>Ascending is the default order.</li>
                    <li>A maximum of 100 records will be returned</li>
                    <li>More than one column can be specified. Separate column names with commas.</li>
                </ul>
            </div>
        </div>
        <hr>
        <div class='post_content_dataset'>
            <div class='col12 pad1y'>
                <h2 class="anchorlinks" id="filter_single">Filtering Data - Single Filter</h2>

                <h3>Authentication</h3>

                <p>This method does not require authentication</p>

                <h3>Arguments</h3>

                <p>$filter</p>

                <h3>Comparison Keywords</h3>
                <ul>
                    <li>eq &ndash; Equal to</li>
                    <li>ne &ndash; Not Equal to</li>
                    <li>gt &ndash; Greater than</li>
                    <li>lt &ndash; Less than</li>
                    <li>ge &ndash; Greater than or equal to</li>
                    <li>le &ndash; Less than or equal to</li>
                </ul>
                <h3>Example URL</h3>

                <p>Read records from the AgencyForms table in FORMS dataset, returning only the records where the
                    AgencyId is equal to 'MSHA'.</p>
                <pre><code>http://api.dol.gov/V1/FORMS/AgencyForms?$filter=AgencyId eq 'MSHA'</code></pre>
                <h3>Example Response</h3>

                <p>[response]</p>

                <h3>HTTP Error Codes</h3>
                <table summary="Filtering Data - Single Filter - Accessing the APIs Using HTTP Requests">
                    <caption>Filtering Data - Single Filter - HTTP Error Codes</caption>
                    <thead>
                    <tr>
                        <th scope="col">Error Code</th>
                        <th scope="col">Error Text</th>
                        <th scope="col">Comments</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>400</td>
                        <td>Bad Request</td>
                        <td>The query contains an error. Read returned value for specific error.</td>
                    </tr>
                    <tr>
                        <td>404</td>
                        <td>Resource not found</td>
                        <td>The dataset name or table name is invalid</td>
                    </tr>
                    </tbody>
                </table>
                <h3>Comments</h3>
                A maximum of 100 records will be returned
            </div>
        </div>
        <hr>
        <div class='post_content_dataset'>
            <div class='col12 pad1y'>
                <h2 class="anchorlinks" id="filter_multi">Filtering Data - Multiple Filters</h2>

                <h3>Authentication</h3>
                </p>This method does not require authentication</p>
                <h3>Arguments</h3>
                <ul>
                    <li>$filter (required)</li>
                    <li>and</li>
                    <li>or</li>
                </ul>
                <h3>Comparison Keywords</h3>
                <ul>
                    <li>eq &ndash; Equal to</li>
                    <li>ne &ndash; Not Equal to</li>
                    <li>gt &ndash; Greater than</li>
                    <li>lt &ndash; Less than</li>
                    <li>ge &ndash; Greater than or equal to</li>
                    <li>le &ndash; Less than or equal to</li>
                </ul>
                <h3>Example URL</h3>

                <p>Read records from the AgencyForms table in FORMS dataset where the AgencyId is equal to MSHA and the
                    Title is
                    equal to 'Legal Identity Report'.</p>
                <pre><code>http://api.dol.gov/V1/FORMS/AgencyForms?$filter=(AgencyId eq 'MSHA') and (Title eq 'Legal
                    Identity Report')</code></pre>
                <h3>HTTP Error Codes</h3>
                <table summary="Filtering Data - Multiple Filters - Accessing the APIs Using HTTP Requests">
                    <caption>Filtering Data - Multiple Filters - HTTP Error Codes</caption>
                    <thead>
                    <tr>
                        <th scope="col">Error Code</th>
                        <th scope="col">Error Text</th>
                        <th scope="col">Comments</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>400</td>
                        <td>Bad Request</td>
                        <td>The query contains an error. Read returned value for specific error.</td>
                    </tr>
                    <tr>
                        <td>404</td>
                        <td>Resource not found</td>
                        <td>The dataset name or table name is invalid</td>
                    </tr>
                    </tbody>
                </table>
                <h3>Comments</h3>

                <p>A maximum of 100 records will be returned</p>
            </div>
        </div>
    </div>

    <div class="content" id="apiv2">
        <h1>DATA.DOL.GOV - Reference</h1>

        <h2>Use Your Quarry API Key (<span style="color:red;">Required</span>)</h2>

        <div class="panel callout radius">
            <p>If you have an APIv1 Key, you may also use it for Quarry/APIV2</p>
        </div>
        <p>Register at <a href="https://devtools.dol.gov/developer/Account/Register">https://devtools.dol.gov/developer/Account/Register</a>
            to get a QUARRY API key. The new API key will be emailed to you.</p>

        <h2>Curl Generic Quarry Usage (<span style="color:red;">Strict Order</span>)</h2>

        <div class="force_wrap apiurl">
            <p>curl -H "X-API-KEY: <strong>YOUR_API_KEY</strong>" –X GET
                https://data.dol.gov/get/ALIAS/filtername1/filtervalue1/filtername2/filtervalue2</p>
        </div>
        <br/>

        {{ curl_table | markdownify }}

        <br/>

        <h2>Filtering Options</h2>

        <h3>Format</h3>
        <table summary="Return format">
            <caption>Dataset will be in JSON or XML.</caption>
            <thead>
            <tr>
                <th scope="col">Key/Value</th>
                <th scope="col">Description</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><span class="force_wrap apiurl"><p>/format/json</p></span></td>
                <td>JSON</td>
            </tr>
            <tr>
                <td><span class="force_wrap apiurl"><p>/format/xml</p></span></td>
                <td>XML</td>
            </tr>
            <tr>
                <td>Default</td>
                <td>JSON</td>
            </tr>

            </tbody>
        </table>

        <br/>

        <h3>Limit</h3>
        <table summary="Limiting rows to return">
            <caption>Number of rows to return. While the maximum allowed for APIv2 is 200, a value of 0
                will return the limit set by the server which could differ.
            </caption>
            <thead>
            <tr>
                <th scope="col">Key/Value</th>
                <th scope="col">Description</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><span class="force_wrap apiurl"><p>/limit/0</p></span></td>
                <td>Return all allowable data.</td>
            </tr>
            <tr>
                <td><span class="force_wrap apiurl"><p>/limit/YOUR_NUMBER</p></span></td>
                <td>Return desired number of rows.</td>
            </tr>
            <tr>
                <td><span class="force_wrap apiurl"><p>/limit/200</p></span></td>
                <td>Quarry API return limit.</td>
            </tr>
            <tr>
                <td>Default</td>
                <td>Return all allowable data.</td>
            </tr>

            </tbody>
        </table>

        <br/>

        <h3>Order</h3>
        <table summary="Sorting Order">
            <caption>Ascending or descending sorting order as determined by the targeted datasource
            </caption>
            <thead>
            <tr>
                <th scope="col">Key/Value</th>
                <th scope="col">Description</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><span class="force_wrap apiurl"><p>/orderby/asc</p></span></td>
                <td>Ascending order.</td>
            </tr>
            <tr>
                <td><span class="force_wrap apiurl"><p>/orderby/desc</p></span></td>
                <td>Descending order.</td>
            </tr>
            <tr>
                <td>Default</td>
                <td>Ascending order.</td>
            </tr>

            </tbody>
        </table>
        
        <br />

        <h3>Columns</h3>
        <table summary="Selecting columns to return">
            <caption>Columns can be selected individually with the columns keyword.  Datasets will be sorted by the
                first column field.
            </caption>
            <thead>
            <tr>
                <th scope="col">Segment</th>
                <th scope="col">Description</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><span class="force_wrap apiurl"><p>columns</p></span></td>
                <td>Must be included for column filtering.</td>
            </tr>
            <tr>
                <td><span class="force_wrap apiurl"><p>{ </p></span></td>
                <td>Begin columns option</td>
            </tr>
            <tr>
                <td><span class="force_wrap apiurl"><p>:</p></span></td>
                <td>The delimiter separating columns </td>
            </tr>
            <tr>
                <td><span class="force_wrap apiurl"><p>}</p></span></td>
                <td>End column selection</td>
            </tr>
            <tr>
                <td><span class="force_wrap apiurl"><p>/columns/{first_column:second_column:third_column} </p></span></td>
                <td>Example.</td>
            </tr>

            </tbody>
        </table>

        <br />

        <h3>Dates (yyyy-mm-dd)</h3>
        <table summary="Selecting dates">
            <caption>Searching by dates
            </caption>
            <thead>
            <tr>
                <th scope="col">Key/Value</th>
                <th scope="col">Description</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><span class="force_wrap apiurl"><p>date_column</p></span></td>
                <td>Must be included to search dates.</td>
            </tr>
            <tr>
                <td>(Column Name)</td>
                <td>Specify the column name to search by-date</td>
            </tr>
            <tr>
                <td><span class="force_wrap apiurl"><p>start_date</p></span></td>
                <td>Start date will search from the start date to now.</td>
            </tr>
            <tr>
                <td><span class="force_wrap apiurl"><p>end_date</p></span></td>
                <td>The past up to the end date (200 maximum rows returned in reversed order from the end date)</td>
            </tr>
            <tr>
                <td>Both start_date and end_date</td>
                <td>Exact date range.</td>
            </tr>
            <tr>
                <td><span class="force_wrap apiurl"><p>/date_column/COLUMN_NAME/start_date/YYYY-MM-DD</p></span></td>
                <td>Example (by start date)</td>
            </tr>
            <tr>
                <td><span class="force_wrap apiurl"><p>/date_column/COLUMN_NAME/end_date/YYYY-MM-DD</p></span></td>
                <td>Example (by end date)</td>
            </tr>
            <tr>
                <td><span class="force_wrap apiurl"><p>/date_column/COLUMN_NAME/start_date/YYYY-MM-DD/end_date/YYYY-MM-DD</p></span></td>
                <td>Example (by date range)</td>
            </tr>

            </tbody>
        </table>
        
        <br />
        
        <h3>Multi-Filtering</h3>
        <table summary="Multi-filtering examples">
            <caption>Examples
            </caption>
            <thead>
            <tr>
                <th scope="col">Example URL</th>
                <th scope="col">Explanation</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><span class="force_wrap apiurl"><p>curl -H "X-API-KEY: YOUR_API_KEY" –X GET
                    https://data.dol.gov/get/accident/format/xml/limit/10/orderby/desc/columns/{summary_nr:event_desc:event_time}</p></span></td>
                <td>Select 10 rows from the <a href="/health-and-safety/dol-osha-enforcement/#osha_accident">OSHA accident table</a>.
                    Result is in XML format, will include the 3 specified columns (summary_nr,event_desc,event_time) and will be sorted in 
                    descending order by the summary_nr column.</td>
            </tr>
            <tr>
                <td><span class="force_wrap apiurl"><p>curl -k -H "X-API-KEY: YOUR_API_KEY" 
                    https://data.dol.gov/get/violation/limit/130/orderby/asc/columns/{issuance_date:citation_id:standard}/date_column/issuance_date/start_date/2010-03-15/end_date/2015-04-15</p></span></td>
                <td>Select 130 rows from the <a href="/health-and-safety/dol-osha-enforcement/#osha_violation">OSHA Violation table</a>.
                    Result is in JSON format, will include the 3 specified columns (issuance_date,citation_id,standard) and will be sorted in
                    ascending order by the issuance_date column. Only returns results where issuance_date falls within
                    the specified date range (2010-03-15 to 2015-04-15)</td>
            </tr>

            </tbody>
        </table>

    </div>

</div>
    


