<div class="dol_sub" id="maincontent">
    <div class="row">
        <div class="small-6 small-centered columns">
            <h1>Our Open Source Applications</h1>
            <br />
        </div>
    </div>


    <div class="row">
        <ul class="small-block-grid-4">
            <li>
                <img src="{{ site.baseurl }}/img/phone.png" alt="Phone Icon">
                <h1 id="mobile-app" tabindex="-1">Mobile</h1>
            </li>
            <li>
                <p><a href="https://github.com/USDepartmentofLabor/DOL-Timesheet">DOL Timesheet</a></p>
                <p><a href="https://github.com/USDepartmentofLabor?query=laborstat">Labor Stats</a></p>
                <p><a href="https://github.com/USDepartmentofLabor?query=heat-safety">OSHA Heat Safety</a></p>
                <p><a href="https://github.com/USDepartmentofLabor/StrategyTrackeriPad">Strategy Tracker</a></p>
                <p>Sweat &amp; Toil <a href="https://github.com/USDepartmentofLabor/Child-Labor-Android">Android</a> | <a href="https://github.com/USDepartmentofLabor/Child-Labor">iOS</a></p>
            </li>
            <li>
                <div class="row" style="height: 125px;"><img src="{{ site.baseurl }}/img/display.png" alt="Desktop Computer Icon"></div>
                <div class="row"><h1>Web & Desktop</h1></div>
            </li>
            <li>
                <p><a href="https://github.com/USDepartmentofLabor/API-Status">API Status</a></p>
                <p><a href="https://github.com/USDepartmentofLabor/JS-Dashboard">JS Dashboard</a></p>
                <p><a href="https://github.com/USDepartmentofLabor/OSHA-Heat-Safety">OSHA Heat Safety</a></p>
                <p><a href="https://github.com/USDepartmentofLabor?query=helpful">Was This Page Helpful?</a></p>
            </li>
        </ul>
    </div>
</div>
