<div class="how_background how_box">
    <div class="row">
        <div class="small-6 large-centered columns"><h1>BEGINNERS GUIDE</h1></div>
    </div>
    <div class="row">
        <div class="large-6 columns">

            {{ how1 | markdownify }}

        </div>
        <div class="large-6 columns howdiv">

            {{ how2 | markdownify }}
            <a href="learn/" class="button radius button_dol">Learn More</a>

        </div>
    </div>
</div>
<div class="dol_sub">
    <div class="row">
        <div class="small-6 small-centered columns"><h1>DIVE INTO OUR DATASETS</h1><br/></div>
    </div>
    <div class="row">
        <div class="large-3 columns">
            
            <a href=""<img src="{{ site.baseurl }}/img/health.png" alt="Health Icon">
            
            <h2>Health & Safety</h2>
        </div>
        <div class="large-3 columns">
            <img src="{{ site.baseurl }}/img/bank.png" alt="Bank Icon">

            <h2>Keeping What You Earn</h2>
        </div>
        <div class="large-3 columns">
            <img src="{{ site.baseurl }}/img/charticon.png" alt="Chart Icon">

            <h2>Expanding Growth Opportunities & Learning</h2>
        </div>
        <div class="large-3 columns">
            <img src="{{ site.baseurl }}/img/purpleQs.png" alt="Question Mark Icon">

            <h2>Other</h2>
        </div>
    </div>
</div>
<hr>
