<div class="how_background how_box_beginner">
    <div class="row">
        <div class="small-6 small-centered columns"><h1>BEGINNER'S GUIDE</h1></div>
    </div>
    <div class="row" data-equalizer>
        <div class="small-6 columns howdiv_c" data-equalizer-watch>
            <img src="{{ site.baseurl }}/img/begin_speedometer.png" alt="Speedometer: Beginner">
        </div>
        <div class="small-5 small-offset-1 columns howdiv" data-equalizer-watch>
            {{ how2 | markdownify }}
            <a href="{{ site.baseurl }}/beginners-guide/" class="button radius button_dol">Learn More</a>

        </div>
    </div>
</div>
{% include explore.html %}
<hr>
{% include grab.html %}
<hr>
{% include apps.html %}