<div class="how_background how_box_beginner">
    <div class="row">
        <div class="small-6 small-centered columns"><h1>BEGINNERS GUIDE</h1></div>
    </div>
    <div class="row" data-equalizer>
        <div class="small-6 columns howdiv" data-equalizer-watch>
            <img src="{{ site.baseurl }}/img/begin_speedometer.png" alt="Speedometer: Beginner">
        </div>
        <div class="small-6 columns howdiv" data-equalizer-watch>
            {{ how2 | markdownify }}
            <a href="{{ site.baseurl }}/beginners-guide/" class="button radius button_dol">Learn More</a>

        </div>
    </div>
</div>
{% include explore.html %}
<hr>
{% include grab.html %}
<hr>
<div class="dol_sub">
    <div class="row">
        <div class="small-6 small-centered columns">
            <h1>APPLICATIONS THAT USE OUR API</h1>
            <br />
        </div>
    </div>
    <div class="row">
        <div class="small-3 columns">
            <img src="{{ site.baseurl }}/img/phone_color.png" alt="Phone Icon">
            <h1>MOBILE</h1>
        </div>
        <div class="small-3 columns">
            <p><a href="#">DOL Timesheet</a></p>
            <p><a href="#">Labor Stats</a></p>
            <p><a href="#">OSHA Heat Safety</a></p>
            <p><a href="#">Strategy Tracker</a></p>
        </div>
        <div class="small-3 columns">
            <img src="{{ site.baseurl }}/img/display_color.png" alt="Desktop Computer Icon">
            <h1>WEB & DESKTOP</h1>
        </div>
        <div class="small-3 columns">
            <p><a href="#">API Status</a></p>
            <p><a href="#">JS Dashboard</a></p>
            <p><a href="#">OSHA Heat Safety</a></p>
            <p><a href="#">Was This Page Helpful</a></p>
        </div>
    </div>
    
</div>