<div class="how_experienced how_box_experienced">
    <div class="row">
        <div class="small-8 small-centered columns">
            <h1>EXPERIENCED DEVELOPER'S GUIDE</h1>
        </div>
    </div>
    <div class="row">
        <div class="small-6 columns howdiv_c">
            <img src="{{ site.baseurl }}/img/exp_speedometer.png" alt="Speedometer: Experienced">
        </div>
        <div class="small-6 columns details">
            <div class="row">
                <div class="small-6 columns"><h1>API DETAILS</h1></div>
                <div class="small-6 columns"><h1>GET HELP</h1></div>
            </div>
            <div class="row">
                <div class="small-6 columns">
                    <div class="row">
                        <div class="small-3 columns"><a href="{{ site.baseurl }}/accessing-the-apis-using-http-requests/"><img src="{{ site.baseurl }}/img/url_wht.png" alt="Accessing APIs over http"></a></div>
                        <div class="small-9 columns"><p><a href="{{ site.baseurl }}/accessing-the-apis-using-http-requests/">HTTP</a></p></div>
                    </div>
                    <div class="row">
                        <div class="small-3 columns"><a href="{{ site.baseurl }}/beginners-guide/#accessing"><img src="{{ site.baseurl }}/img/auth_wht.png" alt="Lock Icon"></a></div>
                        <div class="small-9 columns"><p><a href="{{ site.baseurl }}/beginners-guide/#accessing">AUTHENTICATION</a></p></div>
                    </div>
                   <!--
                    <div class="row">
                        <div class="small-3 columns"><a href="encoding/"><img src="{{ site.baseurl }}/img/encode_wht.png" alt="Encoding Gear Icon"></a></div>
                        <div class="small-9 columns"><p><a href="encoding/">ENCODING</a></p></div>
                    </div>
                    
                    <div class="row">
                        <div class="small-3 columns"><a href="dates/"><img src="{{ site.baseurl }}/img/calendar_wht.png" alt="Calendar Icon"></a></div>
                        <div class="small-9 columns"><p><a href="dates/">DATES</a></p></div>
                    </div>
                    -->
                </div>
                <div class="small-6 columns end">
                    <div class="row">
                        <div class="small-3 columns"><a href="https://opendata.stackexchange.com/questions/ask?tags=labor"><img src="{{ site.baseurl }}/img/questions_wht.png" alt="Globe Icon"></a></div>
                        <div class="small-9 columns"><p><a href="https://opendata.stackexchange.com/questions/ask?tags=labor">ASK QUESTIONS</a></p></div>
                    </div>
                    <div class="row">
                        <div class="small-3 columns"><a href="https://github.com/USDepartmentofLabor/DOLAPI/issues/new"><img src="{{ site.baseurl }}/img/bugs_wht.png" alt="Lock Icon"></a></div>
                        <div class="small-9 columns"><p><a href="https://github.com/USDepartmentofLabor/DOLAPI/issues/new">REPORT BUGS</a></p></div>
                    </div>
                    <div class="row">
                        <div class="small-3 columns"><a href="{{ site.baseurl }}/terms-of-service/"><img src="{{ site.baseurl }}/img/tos_wht.png" alt="Settings Icon"></a></div>
                        <div class="small-9 columns"><p><a href="{{ site.baseurl }}/terms-of-service/">TERMS OF SERVICE</a></p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include explore.html %}
<hr>
{% include grab.html %}
<hr>
{% include apps.html %}