<div class="how_experienced how_box">
    <div class="row">
        <div class="small-6 large-centered columns"><h1>DEVELOPERS GUIDE</h1></div>
    </div>
    <div class="row">
        <div class="large-6 columns">

            {{ how1 | markdownify }}

        </div>
        <div class="large-6 columns howdiv">

            {{ how2 | markdownify }}
            <a href="learn/" class="button radius button_dol">Learn More</a>

        </div>
    </div>
</div>
<div class="details">
    <div class="row">
        <div class="large-3 large-offset-3 columns"><h1>API DETAILS</h1></div>
        <div class="large-3 columns end"><h1>GET HELP</h1></div>
    </div>
    <div class="row">
        <div class="large-3 large-offset-3 columns">
            <div class="row">
                <div class="large-3 columns"><img src="{{ site.baseurl }}/img/world.png" alt="Globe Icon"></div>
                <div class="large-9 columns"><p>URLS</p></div>
            </div>
            <div class="row">
                <div class="large-3 columns"><img src="{{ site.baseurl }}/img/lock.png" alt="Lock Icon"></div>
                <div class="large-9 columns"><p>AUTHENTICATION</p></div>
            </div>
            <div class="row">
                <div class="large-3 columns"><img src="{{ site.baseurl }}/img/settings_sm.png" alt="Settings Icon"></div>
                <div class="large-9 columns"><p>ENCODING</p></div>
            </div>
            <div class="row">
                <div class="large-3 columns"><img src="{{ site.baseurl }}/img/calendar.png" alt="Calendar Icon"></div>
                <div class="large-9 columns"><p>DATES</p></div>
            </div>
        </div>
        <div class="large-3 columns end">
            
        </div>
    </div>
</div>
<div class="dol_sub">
    <div class="row">
        <div class="small-6 small-centered columns"><h1>DIVE INTO OUR DATASETS</h1><br/></div>
    </div>
    <div class="row">
        <div class="large-3 columns">

            <a href="health/"><img src="{{ site.baseurl }}/img/health.png" alt="Health Icon"></a>

            <h2><a href="health/">Health & Safety</a></h2>
        </div>
        <div class="large-3 columns">
            <a href="earn/"><img src="{{ site.baseurl }}/img/bank.png" alt="Bank Icon"></a>

            <h2><a href="earn/">Keeping What You Earn</a></h2>
        </div>
        <div class="large-3 columns">
            <a href="growth/"><img src="{{ site.baseurl }}/img/charticon.png" alt="Chart Icon"></a>

            <h2><a href="growth/">Expanding Growth Opportunities & Learning</a></h2>
        </div>
        <div class="large-3 columns">
            <a href="other/"><img src="{{ site.baseurl }}/img/purpleQs.png" alt="Question Mark Icon"></a>

            <h2><a href="other/">Other</a></h2>
        </div>
    </div>
</div>
<hr>
<div class="dol_sub">
    <div class="row">
        <div class="small-6 small-centered columns">
            <h1>GRAB OUR CODE</h1>

            <p>Read our documentation, see the samples, download the code.</p>
        </div>
    </div>
    <div class="row">
        <div class="large-3 columns">
            <h3>Android</h3>

            <p><a href="#">Git</a><br/>
                <a href="#">Documentation</a><br/>
                <a href="#">Sample</a><br/>
                <a href="#">Download</a></p>
        </div>
        <div class="large-3 columns">
            <h3>Blackberry</h3>

            <p><a href="#">Git</a><br/>
                <a href="#">Documentation</a><br/>
                <a href="#">Sample</a><br/>
                <a href="#">Download</a></p>
        </div>
        <div class="large-3 columns">
            <h3>Cold Fusion</h3>

            <p><a href="#">Git</a><br/>
                <a href="#">Documentation</a><br/>
                <a href="#">Sample</a><br/>
                <a href="#">Download</a></p>
        </div>
        <div class="large-3 columns">
            <h3>Apple iOS</h3>

            <p><a href="#">Git</a><br/>
                <a href="#">Documentation</a><br/>
                <a href="#">Sample</a><br/>
                <a href="#">Download</a></p>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="large-3 columns">
            <h3>.Net</h3>

            <p><a href="#">Git</a><br/>
                <a href="#">Documentation</a><br/>
                <a href="#">Sample</a><br/>
                <a href="#">Download</a></p>
        </div>
        <div class="large-3 columns">
            <h3>Ruby</h3>

            <p><a href="#">Git</a><br/>
                <a href="#">Documentation</a><br/>
                <a href="#">Sample</a><br/>
                <a href="#">Download</a></p>
        </div>
        <div class="large-3 columns">
            <h3>PHP</h3>

            <p><a href="#">Git</a><br/>
                <a href="#">Documentation</a><br/>
                <a href="#">Sample</a><br/>
                <a href="#">Download</a></p>
        </div>
        <div class="large-3 columns">
            <h3>Swift</h3>

            <p><a href="#">Git</a><br/>
                <a href="#">Documentation</a><br/>
                <a href="#">Sample</a><br/>
                <a href="#">Download</a></p>
        </div>
    </div>
</div>
<hr>
<div class="dol_sub">
    <div class="row">
        <div class="small-6 small-centered columns">
            <h1>APPLICATIONS THAT USE OUR API</h1>
            <br />
        </div>
    </div>
    <div class="row">
        <div class="large-3 columns">
            <img src="{{ site.baseurl }}/img/phone_color.png" alt="Phone Icon">
            <h1>MOBILE</h1>
        </div>
        <div class="large-3 columns">
            <p><a href="#">Conversions</a></p>
            <p><a href="#">DOL Timeheets</a></p>
            <p><a href="#">Labor Stats</a></p>
            <p><a href="#">Mobile Accessibility Test Script</a></p>
            <p><a href="#">OSHA Heat Safety</a></p>
            <p><a href="#">Strategy Tracker</a></p>
        </div>
        <div class="large-3 columns">
            <img src="{{ site.baseurl }}/img/display_color.png" alt="Desktop Computer Icon">
            <h1>WEB & DESKTOP</h1>
        </div>
        <div class="large-3 columns">
            <p><a href="#">API Status</a></p>
            <p><a href="#">JS Dashboard</a></p>
            <p><a href="#">OSHA Heat Safety</a></p>
            <p><a href="#">Was This Page Helpful</a></p>
        </div>
    </div>

</div>