<div class="dol_sub">
    <div class="row">
        <div class="small-6 small-centered columns"><h1>EXPLORE OUR DATASETS</h1><br/></div>
    </div>
    <div class="row">
        <div class="small-3 columns">

            <a href="{{ site.baseurl }}/health-and-safety/"><img src="{{ site.baseurl }}/img/health.png" alt="Health Icon"></a>

            <h2><a href="{{ site.baseurl }}/health-and-safety/">Health & Safety</a></h2>
        </div>
        <div class="small-3 columns">
            <a href="{{ site.baseurl }}/keeping-what-you-earn/"><img src="{{ site.baseurl }}/img/bank.png" alt="Bank Icon"></a>

            <h2><a href="{{ site.baseurl }}/keeping-what-you-earn/">Keeping What You Earn</a></h2>
        </div>
        <div class="small-3 columns">
            <a href="{{ site.baseurl }}/expanding-growth/"><img src="{{ site.baseurl }}/img/charticon.png" alt="Chart Icon"></a>

            <h2><a href="{{ site.baseurl }}/expanding-growth/">Expanding Growth Opportunities & Learning</a></h2>
        </div>
        <div class="small-3 columns">
            <a href="{{ site.baseurl }}/others/"><img src="{{ site.baseurl }}/img/purpleQs.png" alt="Question Mark Icon"></a>

            <h2><a href="{{ site.baseurl }}/others/">Other</a></h2>
        </div>
    </div>
</div>