<div class="show-for-small-only">
    <div class="row">
        <div class="small-12 columns datasets_mob mobile_header">
            <h1>Datasets</h1>
        </div>
    </div> <br>
    <div class="row">

        <div class="alert-box small-text-center">
         New API v3 will be coming soon.
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns healthsafe_mob">
            <ul class="accordion no-margin" data-accordion>
                <li class="accordion-navigation active-hs">
                    <a href="#health">
                        <div class="row">
                        <div class="small-3 columns"><img src="/img/healthSafety.png" alt="Health and Safety Datasets"></div>
                        <div class="small-9 columns"><h2>Health & Safety</h2></div>
                        </div>
                    </a>
                    <div id="health" class="content">
                        <ul>
                            {% for item in site.categories.health-and-safety %}
                            <li><a href="{{ site.baseurl }}{{ item.url }}" {% if item.title == page.title %}class="current_item"{% endif %}>{{ item.title }}</a></li>

                            {% endfor %}
                    </ul>
                    </div>
                </li>
                <li class="accordion-navigation active-k">
                    <a href="#keep">
                        <div class="row">
                            <div class="small-3 columns"><img src="/img/bank_white.png" alt="Wage And Hour Division"></div>
                            <div class="small-9 columns"><h2>Wage &amp; Hour Division</h2></div>
                        </div>
                    </a>
                    <div id="keep" class="content">
                        <ul>
                            {% for item in site.categories.wage-and-hour-division %}
                            <li><a href="{{ site.baseurl }}{{ item.url }}" {% if item.title == page.title %}class="current_item"{% endif %}>{{ item.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </li>
                <li class="accordion-navigation active-e">
                    <a href="#expand">
                        <div class="row">
                            <div class="small-3 columns"><img src="/img/growth.png" alt="Expanding Growth Datasets"></div>
                            <div class="small-9 columns"><h2>Expanding Growth Opportunities & Learning</h2></div>
                        </div>
                    </a>
                    <div id="expand" class="content">
                        <ul>
                            {% for item in site.categories.expanding-growth %}
                            <li><a href="{{ site.baseurl }}{{ item.url }}" {% if item.title == page.title %}class="current_item"{% endif %}>{{ item.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </li>
                <li class="accordion-navigation active-o">
                    <a href="#other">
                        <div class="row">
                            <div class="small-3 columns"><img src="/img/other.png" alt="Other Datasets"></div>
                            <div class="small-9 columns"><h2>Other</h2></div>
                        </div>
                    </a>
                    <div id="other" class="content">
                        <ul>
                        {% for item in site.categories.others %}
                        <li><a href="{{ site.baseurl }}{{ item.url }}" {% if item.title == page.title %}class="current_item"{% endif %}>{{ item.title }}</a></li>
                        {% endfor %}
                    </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="show-for-medium-up">
<div class="dol_sub" id="maincontent" tabindex="-1">
    <div class="row">
        <div class="small-6 small-centered columns"><h1>Explore Our Data</h1><br/></div>
    </div>
    {% if isIncludeAlert %}
    <div class="alert-box small-9-text-center">
         New API v3 will be coming soon.
    </div> <br>
    {% endif %}
    <div class="row">
        <div class="small-3 columns">

            <a href="{{ site.baseurl }}/health-and-safety/"><img src="{{ site.baseurl }}/img/health.png" alt="Health and Safety Datasets"></a>

            <h2><a href="{{ site.baseurl }}/health-and-safety/">Health & Safety</a></h2>
        </div>
        <div class="small-3 columns">
            <a href="{{ site.baseurl }}/wage-and-hour-division/"><img src="{{ site.baseurl }}/img/bank.png" alt="Wage And Hour Division"></a>

            <h2><a href="{{ site.baseurl }}/wage-and-hour-division/">Wage & Hour Division Data</a></h2>
        </div>
        <div class="small-3 columns">
            <a href="{{ site.baseurl }}/expanding-growth/"><img src="{{ site.baseurl }}/img/charticon.png" alt="Expanding Growth Datasets"></a>

            <h2><a href="{{ site.baseurl }}/expanding-growth/">Expanding Growth Opportunities & Learning</a></h2>
        </div>
        <div class="small-3 columns">
            <a href="{{ site.baseurl }}/others/"><img src="{{ site.baseurl }}/img/purpleQs.png" alt="Other Datasets"></a>

            <h2><a href="{{ site.baseurl }}/others/">Other</a></h2>
        </div>
    </div>
</div>
    </div>