<div class="show-for-small-only">
    <div class="row">
        <div class="small-12 columns sdks_mob mobile_header">
            <h1>SDKS</h1>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns beg_mob mobile_sub">
            <ul class="accordion no-margin data-accordion">
                <li class="accordion-navigation active-a2">
                    <a href="#android">
                        <h2>Android</h2>
                    </a>
                    <div id="android" class="content">
                       <ul>
                           <li><a href="https://github.com/USDepartmentofLabor/Android_DOLDataSDK"><span class="hide">Android </span>Git</a></li>
                           <li><a href="http://usdepartmentoflabor.github.io/Android_DOLDataSDK/"><span class="hide">Android </span>Documentation</a></li>
                           <li><a href="http://usdepartmentoflabor.github.io/Android-Sample-App"><span class="hide">Android </span>Sample</a></li>
                           <li><a href="https://github.com/USDepartmentofLabor/Android_DOLDataSDK/archive/master.zip"><span class="hide">Android </span>Download</a></li>
                       </ul>
                    </div>
                </li>
                <li class="accordion-navigation active-a2">
                    <a href="#blackberry">
                        <h2>Blackberry</h2>
                    </a>
                    <div id="blackberry" class="content">
                        <ul>
                            <li><a href="https://github.com/USDepartmentofLabor/BlackBerry_DOLDataSDK"><span class="hide">Blackberry </span>Git</a></li>
                            <li><a href="http://usdepartmentoflabor.github.io/BlackBerry_DOLDataSDK/"><span class="hide">Blackberry </span>Documentation</a></li>
                            <li><a href="http://usdepartmentoflabor.github.io/Blackberry-Sample-App"><span class="hide">Blackberry </span>Sample</a></li>
                            <li><a href="https://github.com/USDepartmentofLabor/BlackBerry_DOLDataSDK/archive/master.zip"><span class="hide">Blackberry </span>Download</a></li>
                        </ul>
                    </div>
                </li>
                <li class="accordion-navigation active-a2">
                    <a href="#cold">
                        <h2>Cold Fusion</h2>
                    </a>
                    <div id="cold" class="content">
                        <ul>
                            <li><a href="https://github.com/USDepartmentofLabor/ColdFusion-Federal-SDK"><span class="hide">Cold Fusion </span>Git</a></li>
                            <li><a href="http://usdepartmentoflabor.github.io/ColdFusion-Federal-SDK/"><span class="hide">Cold Fusion </span>Documentation</a></li>
                            <li><a href="http://usdepartmentoflabor.github.io/ColdFusion-Sample-App"><span class="hide">Cold Fusion </span>Sample</a></li>
                            <li><a href="https://github.com/USDepartmentofLabor/ColdFusion-Federal-SDK/archive/master.zip"><span class="hide">Cold Fusion </span>Download</a></li>
                        </ul>
                    </div>
                </li>
                <li class="accordion-navigation active-a2">
                    <a href="#Objective">
                        <h2>Objective-C</h2>
                    </a>
                    <div id="Objective" class="content">
                        <ul>
                            <li><a href="https://github.com/USDepartmentofLabor/DOLDataSDK-iOS"><span class="hide">Objective-C </span>Git</a></li>
                            <li><a href="http://usdepartmentoflabor.github.io/DOLDataSDK-iOS/"><span class="hide">Objective-C </span>Documentation</a></li>
                            <li><a href="http://usdepartmentoflabor.github.io/iOS-Sample-App"><span class="hide">Objective-C </span>Sample</a></li>
                            <li><a href="https://github.com/USDepartmentofLabor/DOLDataSDK-iOS/archive/master.zip"><span class="hide">Objective-C </span>Download</a></li>
                        </ul>
                    </div>
                </li>
                <li class="accordion-navigation active-a2">
                    <a href="#dotnet">
                        <h2>.Net</h2>
                    </a>
                    <div id="dotnet" class="content">
                        <ul>
                            <li><a href="https://github.com/USDepartmentofLabor/DotNet_DOLDataSDK"><span class="hide">.Net </span>Git</a></li>
                            <li><a href="http://usdepartmentoflabor.github.io/DotNet_DOLDataSDK/"><span class="hide">.Net </span>Documentation</a></li>
                            <li><a href="http://usdepartmentoflabor.github.io/DotNet_DOLDataSDK/sdk-sample/"><span class="hide">.Net </span>Sample</a></li>
                            <li><a href="https://github.com/USDepartmentofLabor/DotNet_DOLDataSDK/archive/master.zip"><span class="hide">.Net </span>Download</a></li>
                        </ul>
                    </div>
                </li>
                <li class="accordion-navigation active-a2">
                    <a href="#Ruby">
                        <h2>Ruby</h2>
                    </a>
                    <div id="Ruby" class="content">
                        <ul>
                            <li><a href="https://github.com/USDepartmentofLabor/Ruby_DOLDataSDK"><span class="hide">Ruby </span>Git</a></li>
                            <li><a href="http://usdepartmentoflabor.github.io/Ruby_DOLDataSDK/"><span class="hide">Ruby </span>Documentation</a></li>
                            <li><a href="http://usdepartmentoflabor.github.io/Ruby-Sample-App"><span class="hide">Ruby </span>Sample</a></li>
                            <li><a href="https://github.com/USDepartmentofLabor/Ruby_DOLDataSDK/archive/master.zip"><span class="hide">Ruby </span>Download</a></li>
                        </ul>
                    </div>
                </li>
                <li class="accordion-navigation active-a2">
                    <a href="#php">
                        <h2>PHP</h2>
                    </a>
                    <div id="php" class="content">
                        <ul>
                            <li><a href="https://github.com/USDepartmentofLabor/PHP_DOLDataSDK"><span class="hide">PHP </span>Git</a></li>
                            <li><a href="http://usdepartmentoflabor.github.io/PHP_DOLDataSDK/"><span class="hide">PHP </span>Documentation</a></li>
                            <li><a href="http://usdepartmentoflabor.github.io/PHP-Sample-App"><span class="hide">PHP </span>Sample</a></li>
                            <li><a href="https://github.com/USDepartmentofLabor/PHP_DOLDataSDK/archive/master.zip"><span class="hide">PHP </span>Download</a></li>
                        </ul>
                    </div>
                </li>
                <li class="accordion-navigation active-a2">
                    <a href="#swift">
                        <h2>Swift</h2>
                    </a>
                    <div id="swift" class="content">
                        <ul>
                            <li><a href="https://github.com/USDepartmentofLabor/Swift-Federal-Data-SDK"><span class="hide">Swift </span>Git</a></li>
                            <li><a href="http://usdepartmentoflabor.github.io/Swift-Federal-Data-SDK/"><span class="hide">Swift </span>Documentation</a></li>
                            <li><a href="http://usdepartmentoflabor.github.io/Swift-Sample-App"><span class="hide">Swift </span>Sample</a></li>
                            <li><a href="https://github.com/USDepartmentofLabor/Swift-Federal-Data-SDK/archive/master.zip"><span class="hide">Swift </span>Download</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</div>

<div class="show-for-medium-up">
<div class="dol_sub_code grab_block" id="maincontent" tabindex="-1">
    <div class="row">
        <div class="small-6 small-centered columns">
            <h1>Grab Our Code</h1>

            <p>Read our documentation, see the samples, download the code.</p>
        </div>
    </div>
    <div class="row">
        <div class="small-3 columns">
            <h2>Android</h2>

            <ul>
            	<li><a href="https://github.com/USDepartmentofLabor/Android_DOLDataSDK"><span class="hide">Android </span>Git</a></li>
                <li><a href="http://usdepartmentoflabor.github.io/Android_DOLDataSDK/"><span class="hide">Android </span>Documentation</a></li>
                <li><a href="http://usdepartmentoflabor.github.io/Android-Sample-App"><span class="hide">Android </span>Sample</a></li>
                <li><a href="https://github.com/USDepartmentofLabor/Android_DOLDataSDK/archive/master.zip"><span class="hide">Android </span>Download</a></li>
           </ul>
        </div>
        <div class="small-3 columns">
            <h2>Blackberry</h2>

            <ul>
            	<li><a href="https://github.com/USDepartmentofLabor/BlackBerry_DOLDataSDK"><span class="hide">Blackberry </span>Git</a></li>
                <li><a href="http://usdepartmentoflabor.github.io/BlackBerry_DOLDataSDK/"><span class="hide">Blackberry </span>Documentation</a></li>
                <li><a href="http://usdepartmentoflabor.github.io/Blackberry-Sample-App"><span class="hide">Blackberry </span>Sample</a></li>
                <li><a href="https://github.com/USDepartmentofLabor/BlackBerry_DOLDataSDK/archive/master.zip"><span class="hide">Blackberry </span>Download</a></li>
           </ul>
        </div>
        <div class="small-3 columns">
            <h2>ColdFusion</h2>

            <ul>
            	<li><a href="https://github.com/USDepartmentofLabor/ColdFusion-Federal-SDK"><span class="hide">Cold Fusion </span>Git</a></li>
                <li><a href="http://usdepartmentoflabor.github.io/ColdFusion-Federal-SDK"><span class="hide">Cold Fusion </span>Documentation</a></li>
                <li><a href="http://usdepartmentoflabor.github.io/ColdFusion-Sample-App"><span class="hide">Cold Fusion </span>Sample</a></li>
                <li><a href="https://github.com/USDepartmentofLabor/ColdFusion-Federal-SDK/archive/master.zip"><span class="hide">Cold Fusion </span>Download</a></li>
            </ul>
        </div>
        <div class="small-3 columns">
            <h2>Objective-C</h2>

            <ul>
                 <li><a href="https://github.com/USDepartmentofLabor/DOLDataSDK-iOS"><span class="hide">Objective-C </span>Git</a></li>
                <li><a href="http://usdepartmentoflabor.github.io/DOLDataSDK-iOS"><span class="hide">Objective-C </span>Documentation</a></li>
                <li><a  href="http://usdepartmentoflabor.github.io/iOS-Sample-App"><span class="hide">Objective-C </span>Sample</a></li>
                <li><a href="https://github.com/USDepartmentofLabor/DOLDataSDK-iOS/archive/master.zip"><span class="hide">Objective-C </span>Download</a></li>
           </ul>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="small-3 columns">
            <h2>.Net</h2>

            <ul>
                <li><a href="https://github.com/USDepartmentofLabor/DotNet_DOLDataSDK"><span class="hide">.Net </span>Git</a></li>
               <li><a href="http://usdepartmentoflabor.github.io/DotNet_DOLDataSDK/"><span class="hide">.Net </span>Documentation</a></li>
               <li><a href="http://usdepartmentoflabor.github.io/DotNet_DOLDataSDK/sdk-sample/"><span class="hide">.Net </span>Sample</a></li>
               <li><a href="https://github.com/USDepartmentofLabor/DotNet_DOLDataSDK/archive/master.zip"><span class="hide">.Net </span>Download</a></li>
           </ul>
        </div>
        <div class="small-3 columns">
            <h2>Ruby</h2>

            <ul>
                 <li><a href="https://github.com/USDepartmentofLabor/Ruby_DOLDataSDK"><span class="hide">Ruby </span>Git</a></li>
                <li><a href="http://usdepartmentoflabor.github.io/Ruby_DOLDataSDK/"><span class="hide">Ruby </span>Documentation</a></li>
                <li><a href="http://usdepartmentoflabor.github.io/Ruby-Sample-App"><span class="hide">Ruby </span>Sample</a></li>
                <li><a href="https://github.com/USDepartmentofLabor/Ruby_DOLDataSDK/archive/master.zip"><span class="hide">Ruby </span>Download</li>
            </ul>
        </div>
        <div class="small-3 columns">
            <h2>PHP</h2>

            <ul>
                <li><a href="https://github.com/USDepartmentofLabor/PHP_DOLDataSDK"><span class="hide">PHP </span>Git</a></li>
                <li><a href="http://usdepartmentoflabor.github.io/PHP_DOLDataSDK"><span class="hide">PHP </span>Documentation</a></li>
                <li><a href="http://usdepartmentoflabor.github.io/PHP-Sample-App"><span class="hide">PHP </span>Sample</a></li>
                <li><a href="https://github.com/USDepartmentofLabor/PHP_DOLDataSDK/archive/master.zip"><span class="hide">PHP </span>Download</a></li>
        </ul>
        <div class="small-3 columns">
            <h2>Swift</h2>

            <ul>
               <li><a  href="https://github.com/USDepartmentofLabor/Swift-Federal-Data-SDK"><span class="hide">Swift </span>Git</a></li>
                <li><a href="http://usdepartmentoflabor.github.io/Swift-Federal-Data-SDK/"><span class="hide">Swift </span>Documentation</a></li>
                <li><a href="http://usdepartmentoflabor.github.io/Swift-Sample-App"><span class="hide">Swift </span>Sample</a></li>
                <li><a href="https://github.com/USDepartmentofLabor/Swift-Federal-Data-SDK/archive/master.zip"><span class="hide">Swift </span>Download</a></li>
           </ul>
        </div>
    </div>
</div>
    </div>

