<header class="site-header">

<div class="wrapper">
<div class="hide"> <a href="#maincontent">Skip to Main Content</a> </div>
<!--Start Banner --> 
<a name="top"></a>
<div class="row top-header" role="banner">
      <div class="large-6 columns"> <a href="{{ site.baseurl }}/"> <span class="brand"></span>
        <h1 class="header-logo-type">DEVELOPER PORTAL<br/>
            UNITED STATES DEPARTMENT OF LABOR</h1>
        </a> </div>
      <div class="large-2 columns">
        <div class="social-block right hide-for-small"> <a href="/cgi-bin/leave-dol.asp?exiturl=http://www.facebook.com/departmentoflabor&exitTitle=www.Facebook.com&fedpage=no"  class="sm-facebook">Facebook</a> 
        <a href="/cgi-bin/leave-dol.asp?exiturl=http://twitter.com/usdol&exitTitle=www.Twitter.com&fedpage=no" class="sm-twitter">Twitter</a> 
        <a href="/cgi-bin/leave-dol.asp?exiturl=http://www.instagram.com/USDOL&exitTitle=www.instagram.com/USDOL&fedpage=no" class="sm-instagram">DOL Instagram</a> 
        <a href="/rss/" class="sm-rss">RSS</a> 
        <a href="javascript:window.open('https://public.govdelivery.com/accounts/USDOL/subscriber/new','Popup','width=800,height=500,toolbar=no,scrollbars=yes,resizable=yes'); void('');"
				 ONCLICK="window.status='Subscribe'; return true"
				 ONMOUSEOVER="window.status='Subscribe'; return true"
				 ONMOUSEOUT="window.status=''; return true" class="sm-email">Email</a> </div>
      </div>
      <div class="large-4 columns">
        <div id="searchbox">
          <form action="//search.usa.gov/search" method="get" class="usagov" role="search">
            <div class="small-10 columns">
              <input type="search" name="query" placeholder="Find it in DOL" title="Find it in DOL" required="required" >
            </div>
            <div class="small-2 columns">
              <input type="hidden" name="affiliate" value="u.s.departmentoflabor">

              <input type="image"  src="{{ site.baseurl }}/img/icon-search.png"  vspace="4"  alt="Search DOL" class="usagov-submit">
                <!--
                <input type="image"  src="{{ site.baseurl }}/img/beta_ribbon.png"  vspace="4"  alt="Search DOL" class="usagov-submit">
                -->
            </div>
          </form>
        </div>
      </div>
</div>
    <div class="row">
        <nav class="top-bar" data-topbar role="navigation">
            <ul class="title-area">
                <li class="name">
                </li>
                <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
                <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
            </ul>
            <section class="top-bar-section">
                <!-- Right Nav Section -->
                <ul class="right">
                    <li><a href="https://devtools.dol.gov/developer">API KEYS</a></li>
                </ul>
                <ul class="left">
                    <li><a href="{{ site.baseurl }}/beginner/">USE OUR API</a></li>
                    <li><a href="{{ site.baseurl }}/dataset/">EXPLORE OUR DATA</a></li>
                    <li><a href="{{ site.baseurl }}/sdk/">GRAB OUR CODE</a></li>
                    <li><a href="https://opendata.stackexchange.com/questions/ask?tags=labor">ASK QUESTIONS</a></li>
                    <li><a href="https://github.com/USDepartmentofLabor/DOLAPI/issues/new">REPORT BUGS</a></li>
                </ul>
            </section>
        </nav>



</div>

    
    </div>
</header>
