<header class="site-header">

<div class="wrapper">
<div class="hide"> <a href="#maincontent">Skip to Main Content</a> </div>
<!--Start Banner --> 
<a name="top"></a>
<div class="row top-header" role="banner">
      <div class="large-6 columns"> <a href="/"> <span class="brand"></span>
        <h1 class="header-logo-type">UNITED STATES <br>
          DEPARTMENT OF LABOR </h1>
        </a> </div>
      <div class="large-2 columns">
        <div class="social-block right hide-for-small"> <a href="/cgi-bin/leave-dol.asp?exiturl=http://www.facebook.com/departmentoflabor&exitTitle=www.Facebook.com&fedpage=no"  class="sm-facebook">Facebook</a> 
        <a href="/cgi-bin/leave-dol.asp?exiturl=http://twitter.com/usdol&exitTitle=www.Twitter.com&fedpage=no" class="sm-twitter">Twitter</a> 
        <a href="/cgi-bin/leave-dol.asp?exiturl=http://www.instagram.com/USDOL&exitTitle=www.instagram.com/USDOL&fedpage=no" class="sm-instagram">DOL Instagram</a> 
        <a href="/rss/" class="sm-rss">RSS</a> 
        <a href="javascript:window.open('https://public.govdelivery.com/accounts/USDOL/subscriber/new','Popup','width=800,height=500,toolbar=no,scrollbars=yes,resizable=yes'); void('');"
				 ONCLICK="window.status='Subscribe'; return true"
				 ONMOUSEOVER="window.status='Subscribe'; return true"
				 ONMOUSEOUT="window.status=''; return true" class="sm-email">Email</a> </div>
      </div>
      <div class="large-4 columns">
        <div id="searchbox">
          <form action="//search.usa.gov/search" method="get" class="usagov" role="search">
            <div class="small-10 columns">
              <input type="search" name="query" placeholder="Find it in DOL" title="Find it in DOL" required="required" >
            </div>
            <div class="small-2 columns">
              <input type="hidden" name="affiliate" value="u.s.departmentoflabor">

              <input type="image"  src="{{ site.baseurl }}/img/icon-search.png"  vspace="4"  alt="Search DOL" class="usagov-submit">
                <!--
                <input type="image"  src="{{ site.baseurl }}/img/beta_ribbon.png"  vspace="4"  alt="Search DOL" class="usagov-submit">
                -->
            </div>
          </form>
        </div>
      </div>
    </div>

<!--Start main menu -->
         <div class="row">
            <div class="megamenu_container megamenu_dark_bar megamenu_light">
               <!-- Begin Menu Container -->
               <ul class="megamenu" role="navigation">
                  <!-- Begin Mega Menu -->
                  <li class="megamenu_button"><a href="#">Menu</a></li>
                 <li>
                 	   <a href="#" class="megamenu_drop">Popular Topics</a>
                  
                      <!-- Begin Item -->
                    <div class="dropdown_7columns dropdown_container">
                        <!-- Begin Item Container -->
                       <div class="col_12">
                          <!-- <h2>Browse by topic</h2>-->
                        </div>
          				<div class="col_6">
                           <ul>
                              <li><a href="/dol/topic/disability/">Disability Resources</a></li>
                              <li><a href="/elaws/">Employment Law Assistance (ELAWS)</a></li>
                              <li><a href="/dol/topic/discrimination/">Equal Employment Opportunity</a></li>
                              <li><a href="/dol/featuredinitiatives.htm">Featured Initiatives</a></li> 
                              <li><a href="/dol/topic/health-plans/">Health Plans & Benefits</a></li>
                              <li><a href="/dol/topic/hiring/">Hiring</a></li>
                              <li><a href="/ilab/">International Labor Issues</a></li>
                              <li><a href="http://www.jobcorps.gov/home.aspx">Job Corps</a></li>
                              <li><a href="/dol/jobs.htm">Job Opportunities at DOL</a></li>
                              <li><a href="/dol/topic/labor-relations/">Labor Relations</a></li>
                              <li><a href="/dol/topic/benefits-leave/">Leave Benefits</a></li>
                              <li><a href="/opa/aboutdol/lawsprog.htm">Major Laws of DOL</a></li>
                              <li><a href="/oasam/boc/osdbu/sbrefa/poster/matrix.htm">Posters</a></li>
                              
                              
                              
                           </ul>
                        </div>
                        <div class="col_6">
                           <ul class="list-xgap">
                             <!-- <li><a href="/asp/regs/rulemaking.htm">Rulemaking and Regulations</a></li>-->
                              <li><a href="/dol/topic/retirement/">Retirement Plans, Benefits & Savings</a></li>
                              <li><a href="/dol/topic/Spanish-speakingTopic.htm">Spanish Language Resources</a></li>
                              <li><a href="/dol/topic/statistics/">Statistics</a></li>
                              <li><a href="/dol/topic/termination/">Termination</a></li>
                              <li><a href="/dol/topic/training/">Training</a></li>
                              <li><a href="/vets/">Veterans' Employment</a></li>
                              <li><a href="/dol/topic/unemployment-insurance/">Unemployment Insurance</a></li>
                              <li><a href="/dol/topic/wages/">Wages</a></li>
                              <li><a href="http://www.whistleblowers.gov/">Whistleblower Protection</a></li>
                              <li><a href="/dol/topic/workhours/">Work Hours</a></li>
                              <li><a href="/dol/topic/workcomp/">Workers' Compensation</a></li>
                              <li><a href="/dol/topic/safety-health/">Workplace Safety & Health</a></li>
                              <li><a href="/dol/topic/youthlabor/">Youth & Labor</a></li>
                           </ul>
                        </div>
                     </div>
                     <!-- End Item Container -->
                  </li>
                  <!-- End Item -->
                  
                  <li>
                 	   <a href="#" class="megamenu_drop">Agencies</a>
                  
                      <!-- Begin Item -->
                    <div class="dropdown_fullwidth dropdown_container">
                        <!-- Begin Item Container -->
                       <div class="col_12">
                          <!-- <h2>Browse by topic</h2>-->
                        </div>
          				<div class="col_3">
                           <ul>
                              <li><a href="/_sec/">Office of the Secretary (OSEC)</a></li>
                              <li><a href="/appeals/">Administrative Review Board (ARB)</a></li>
                              <li><a href="/appeals/">Benefits Review Board (BRB)</a></li>
                              <li><a href="/ilab/">Bureau of International Labor Affairs (ILAB)</a></li>
                              <li><a href="http://www.bls.gov/">Bureau of Labor Statistics (BLS)</a></li>
                              <li><a href="/cfbnp/">Center for Faith-Based & Neighborhood Partnerships (CFBNP)</a></li>
                              <li><a href="/ebsa/">Employee Benefits Security Administration (EBSA)</a></li>
                            </ul>
                        </div>  
                         <div class="col_3"> 
                         <ul class="list-xgap">   
                              <li><a href="/appeals/">Employees' Compensation Appeals Board (ECAB)</a></li>
                              <li><a href="http://www.doleta.gov/">Employment & Training Administration (ETA)</a></li>
                              <li><a href="http://www.msha.gov/">Mine Safety & Health Administration (MSHA)</a></li>
                              <li><a href="http://www.osha.gov/">Occupational Safety & Health Administration (OSHA)</a></li>
                              <li><a href="http://www.oalj.dol.gov/">Office of Administrative Law Judges (OALJ)</a></li>
                              <li><a href="/ocia/">Office of Congressional & Intergovernmental Affairs (OCIA)</a></li>
                              <li><a href="/oasam/">Office of the Assistant Secretary for Administration & Management (OASAM)</a></li>
                           </ul>
                        </div> 
                        <div class="col_3">
                           <ul class="list-xgap">
                              <li><a href="/asp/">Office of the Assistant Secretary for Policy (OASP)</a></li>
                              <li><a href="/ocfo/">Office of the Chief Financial Officer (OCFO)</a></li>
                              <li><a href="/odep/">Office of Disability Employment Policy (ODEP)</a></li>
                              <li><a href="/ofccp/">Office of Federal Contract Compliance Programs (OFCCP)</a></li>
                              <li><a href="http://www.oig.dol.gov/">Office of Inspector General (OIG)</a></li>
                              <li><a href="/olms/">Office of Labor-Management Standards (OLMS)</a></li>
                              <li><a href="/ope/">Office of Public Engagement (OPE)</a></li>
                              </ul>
                        </div>
                        <div class="col_3">
                        <ul class="list-xgap">
                              <li><a href="/sol/">Office of the Solicitor (SOL)</a></li>
                              <li><a href="/owcp/">Office of Workers' Compensation Programs (OWCP)</a></li>
                              <li><a href="/eeombd/">Ombudsman for the Energy Employees Occupational Illness Compensation Program (EEOMBD)</a></li>
                              <li><a href="/cgi-bin/leave-dol.asp?exiturl=http://www.pbgc.gov&exitTitle=www.pbgc.gov&fedpage=yes">Pension Benefit Guaranty Corporation (PBGC)</a></li>
                              <li><a href="/vets/">Veterans' Employment & Training Service (VETS)</a></li>
                              <li><a href="/whd/">Wage and Hour Division (WHD)</a></li>
                              <li><a href="/wb/">Women's Bureau (WB)</a></li>
                           </ul>
                        </div>
                     </div>
                     <!-- End Item Container -->
                  </li>
                  <!-- End Item --> 
                 
                  
                  
                  <!-- Resources For You -->
                  <li>
                     <a href="#" class="megamenu_drop">Your Questions</a><!-- Begin Item -->
                     <div class="dropdown_5columns dropdown_container">
                        <!-- Begin Item Container -->
               
                        <div class="col_12">
                           <ul>
                     <!--<h2>People Are Asking</h2>-->
                           <li><a href="http://www.jobcorps.gov/home.aspx">Job Corps: How do I find out more?</a></li>
                           <li><a href="http://webapps.dol.gov/dolfaq/go-dol-faq.asp?faqid=520">Paychecks: How do I get my last one?</a></li>
                           <li><a href="/cgi-bin/leave-dol.asp?exiturl=http://www.servicelocator.org/OWSLinks.asp&exittitle=ServiceLocator.org">Unemployment Insurance Claims: Where can I file?</a></li>
                           <li><a href="/dol/audience/aud-unemployed.htm#layoffs">Recently laid off: What are my resources?</a></li>
                           <li><a href="/dol/topic/workhours/">Work Hours: What are the rules?</a></li>
                           <li><a href="/dol/top-requested.htm">Top 20 Requested Items</a></li>
                           </ul>
                        </div>
                     </div>
                     <!-- End Item container -->
                  </li>
                  <!-- End Item -->
                  <!-- About DOL -->
                  <li>
                     <a href="#" class="megamenu_drop">About DOL</a><!-- Begin Item -->
                     <div class="dropdown_fullwidth dropdown_container">
                        <!-- Begin Item Container -->
                        <div class="col_5">
                           <h3>About the U.S. Department of Labor</h3>
                           <ul>
                           	  <li><a href="/dol/siteindex.htm">A - Z Index</a></li>
                              <li><a href="/dol/organization.htm">Agencies &amp Programs</a></li>
                              <li><a href="/opa/aboutdol/mission.htm">Mission Statement</a></li>
                              <li><a href="/dol/aboutdol/#whoweare">Who We Are & What We Do</a></li>
                              <li><a href="http://webapps.dol.gov/calendar/">Events Calendar</a></li>
                              <li><a href="/dol/aboutdol/#procurement">Procurement Information</a></li>
                              <li><a href="/dol/aboutdol/#special">Special Reports</a></li>
                              <li><a href="/asp/guidance/">Significant Guidance Documents</a></li>
                             <li><a href="/dol/aboutdol/#budget">Budget, Performance & Planning</a></li>
                              <li><a href="/dol/aboutdol/#history">History</a></li>
                              <li><a href="http://www.oig.dol.gov/">Office of Inspector General</a></li>
                              <li><a href="/dol/topic/Spanish-speakingTopic.htm">Espa&ntilde;ol</a></li>
                           </ul>
                        </div>
                        
                        <div class="col_7">
                           <h3>Meet the Secretary</h3>
                           <img src="{{ site.baseurl }}/img/parez-sml-photo.jpg" width="100" height="118" alt="Thomas E. Perez" class="img_right">
                           <p>Thomas E. Perez was nominated by President Obama to serve as the nation's 26th Secretary of Labor, and was sworn in on July 23, 2013...</p>
                           <ul>
                              <li><a href="/_sec/">The Secretary's Page</a></li>
                              <li><a href="/cgi-bin/leave-dol.asp?exiturl=https://www.facebook.com/LaborSecretary&exitTitle=facebook.com&fedpage=no">Follow Secretary Thomas Perez on Facebook</a></li>
                              <li><a href="/cgi-bin/leave-dol.asp?exiturl=https://twitter.com/LaborSec&exitTitle=twitter.com&fedpage=no">Follow Secretary Thomas Perez on Twitter</a></li>
                           </ul>
                        </div>
                     </div>
                     <!-- End Item container -->
                 </li>
                  <!-- End Item -->
                  <!-- Newsroom -->
                  <li>
                     <a href="#" class="megamenu_drop">Newsroom</a><!-- Begin Item -->
                     <div class="dropdown_fullwidth dropdown_container">
                        <!-- Begin Item Container -->
                        <div class="col_6">
                           <h3>Current News Releases, Remarks & Other Resources</h3>
                           <ul class="list2">
                              <li><a href="/opa/media/press/opa/">Current News Releases</a> (excluding the <a href="http://www.bls.gov/bls/newsrels.htm">Bureau of Labor Statistics</a>)</li>
                              <li><a href="/opa/media/press/opa/spanish.htm">News Releases en Español</a></li>
                              <li><a href="/_sec/media/">Speeches and Remarks</a></li>
                              <li><a href="/dol/media/photos/">Photo Galleries</a></li>
                              <li><a href="/cgi-bin/leave-dol.asp?exiturl=http://www.youtube.com/user/USDepartmentofLabor&exitTitle=http://www.youtube.com&fedpage=no">Videos</a></li>
                              <li><a href="/_sec/newsletter/">DOL Newsletter</a></li>
                           </ul>
                        </div>
                        <div class="col_6">
                           <h3>U.S. Department of Labor Press Lock-Ups Policy Statement</h3>
                           <ul>
                              <li><a href="/dol/media/lockupnotice.htm">Read the Policy Statement and News Organization Agreement</a></li>
                           </ul>
                           <h3>Media Inquiries</h3>
                           <ul>
                              <li><a href="/dol/contact/contact-phoneopa.htm">Public Affairs Offices</a>. All inquiries from the media must be directed to the Office of Public Affairs.</li>
                           </ul>
                        </div>
                     </div>
                     <!-- End Item container -->
                  </li>
                  <!-- End Item -->
                  
                  
                  <!-- Calender -->
                  <!--<li>
                      <a href="#" class="megamenu_drop">Calendar</a><!-- Begin Item -->
                  <!--<div class="dropdown_2columns dropdown_container">
                        <!-- Begin Item Container -->
                       <!-- <div class="col_12 ">
                          <!-- <h2>Mark Your Calendar</h2>
                        <ul>
                              <li><a href="http://webapps.dol.gov/calendar/Default.asp?date=2014-01-01">January 2014</a></li>
                              <li><a href="http://webapps.dol.gov/calendar/Default.asp?date=2014-02-01"><strong>February 2014</strong></a></li>
                              <li><a href="http://webapps.dol.gov/calendar/Default.asp?date=2014-03-01">March 2014</a></li>
                              <li><a href="http://webapps.dol.gov/calendar/Default.asp?date=2014-04-01">April 2014</a></li>
                              <li><a href="http://webapps.dol.gov/calendar/Default.asp?date=2014-05-01">May 2014</a></li>
                              <li><a href="http://webapps.dol.gov/calendar/Default.asp?date=2014-06-01">June 2014</a></li>
                              <li><a href="http://webapps.dol.gov/calendar/Default.asp?date=2014-07-01">July 2014</a></li>
                              <li><a href="http://webapps.dol.gov/calendar/Default.asp?date=2014-08-01">August 2014</a></li>
                              <li><a href="http://webapps.dol.gov/calendar/Default.asp?date=2014-09-01">September 2014</a></li>
                              <li><a href="http://webapps.dol.gov/calendar/Default.asp?date=2014-10-01">October 2014</a></li>
                              <li><a href="http://webapps.dol.gov/calendar/Default.asp?date=2014-11-01">November 2014</a></li>
                              <li><a href="http://webapps.dol.gov/calendar/Default.asp?date=2014-12-01">December 2014</a></li>
                           </ul>
                        </div>
                       
                    </div>
                     <!-- End Item container -->
                <!--  </li>
                  <!-- End Item -->
                  
                  
                  <!-- Contact Us -->
                  <li>
                      <a href="#" class="megamenu_drop">Contact Us</a><!-- Begin Item -->
                  <div class="dropdown_3columns dropdown_container">
                        <!-- Begin Item Container -->
                        <div class="col_12 ">
                           
                        <ul>
                              <li><a href="/dol/contact/contact-phonecallcenter.htm">National Toll-Free Contact Center</a></li>
                              <li><a href="/dol/contact/contact-phone-topics.htm">Phone Numbers by Topic</a></li>
                              <li><a href="/dol/contact/contact-phonekeypersonnel.htm">The Leadership Team</a></li>
                              <li><a href="/dol/contact/contact-email.htm">General Questions</a></li>
                              <li><a href="mailto:webmaster@dol.gov">Technical Questions</a></li>
                              <li><a href="/dol/contact/contact-phoneopa.htm">Public Affairs Offices</a></li>
                              <li><a href="http://www.oig.dol.gov/contact.htm#hotline">OIG Hotline: Report Fraud, Waste, and Abuse</a></li>
                           </ul>
                        </div>
                       
                    </div>
                     <!-- End Item container -->
                  </li>
                  <!-- End Item -->
               </ul>
               <!-- End Mega Menu -->
            </div>
            <!-- End Menu Container -->
         </div>
         <!--End main menu --> 


</header>
