<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if post.title %}{{ post.title }} - {% elsif page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">
    {% else %}
    <meta name="description" content="{{ site.description }}">
    {% endif %}
    
    {% if page.url == "/404.html" %}
    <meta http-equiv="refresh" content="5; url=/">
    {% endif %}

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
          <!-- css -->
      <link rel="stylesheet" href="{{ site.baseurl }}/css/foundation.css" />
      <link rel="stylesheet" href="{{ site.baseurl }}/css/dol-style.css" />
      <link rel="stylesheet" href="{{ site.baseurl }}/css/content.css" />
      <link rel="stylesheet" href="{{ site.baseurl }}/css/post.css" />
      <link rel="stylesheet" href="{{ site.baseurl }}/css/mobile.css" />
      <link href='//fonts.googleapis.com/css?family=Open+Sans:700,300' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <script id="_fed_an_ua_tag" src="{{ site.baseurl }}/js/federated-analytics-developer.js?agency=DOL&amp;subagency=DEVELOPER"></script>      
      <script src="{{ site.baseurl }}/js/modernizr.js"></script>
      <script src="{{ site.baseurl }}/js/safari_pushwoosh.js"></script> 
      <script src="{{ site.baseurl }}/js/developer_scripts.js"></script>
      <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
      <script src="//s3.amazonaws.com/nwapi/nwmatcher/nwmatcher-1.2.5-min.js"></script>
      <script src="//html5base.googlecode.com/svn-history/r38/trunk/js/selectivizr-1.0.3b.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
      <![endif]-->

    <script type="text/javascript">

        //<![CDATA[

        var usasearch_config = { siteHandle:"developer.dol.gov" };



        var script = document.createElement("script");

        script.type = "text/javascript";

        script.src = "//search.usa.gov/javascripts/remote.loader.js";

        document.getElementsByTagName("head")[0].appendChild(script);



        //]]>

    </script>

    
</head>
