<div class="valign_parent" id="maincontent">
    <div id="choose" class="hometext">
        {{ choose | markdownify}}
        <a href="beginner/" class="button radius button_tran">Beginner</a>
        <a href="experienced/" class="button radius button_tran">Experienced</a>
    </div>
</div>
<div class="stats_dol stats_box">
    <div class="small-6 columns">
        <div class="row">
            <div class="small-10 small-offset-2 columns end">
                {{ stats | markdownify }}
            </div>
        </div>
        <div class="row">
            <div class="small-2 small-offset-2 columns">
                <a href="http://itunes.apple.com/us/app/labor-stats/id468085481?mt=8" class="button radius button_ls">iOS</a>
            </div>
            <div class="small-2 small-offset-1 columns">
                <a href="https://play.google.com/store/apps/details?id=com.current" class="button radius button_ls">Android</a>
            </div>
            <div class="small-2 small-offset-1 columns end">
                <a href="https://github.com/USDepartmentofLabor?query=stats" class="button radius button_dol">Grab the Code</a>
            </div>
        </div>
    </div>
    <div class="small-6 columns">
        <img src="{{ site.baseurl }}/img/3iPhones.png" alt="Three iPhones">

    </div>
</div>
<div class="cpi_background image_box">
    <div class="small-6 columns">
        <img src="{{ site.baseurl }}/img/Data.png" alt="Box of Data">
    </div>
    <div class="small-6 columns">
        {{ cpi | markdownify }}
        <a href="highlights/2015/tell-us-what-data-you-want/" class="button radius button_tran_left">Learn More</a>

    </div>
</div>
<div id="grab">
    <div class="row">
        <div class="small-10 small-centered columns">
            <h1><br />GRAB OUR CODE</h1>
            <div class="lefttext">
                <p>Use one of our many SDK's to quickly connect and query the DOL API as well as many other federal agencies.
                We offer SDK's in many popular languages including C#, PHP, Ruby, Objective-C, and Swift.</p>
                <p>You can also download or browse our mobile, web, and desktop application source code to understand how we use the DOL API for our needs.</p>
                </div>
            
        </div>
    </div>
    <div class="row">
        <div class="small-4 columns">
            {{ grab1 | markdownify }}
            <a href="{{ site.baseurl }}/sdk/" class="button radius button_dol">SDK</a>
        </div>
        <div class="small-4 columns">
            {{ grab2 | markdownify }}
            <a href="apps/" class="button radius button_dol">Mobile</a>
        </div>
        <div class="small-4 columns">
            {{ grab3 | markdownify }}
            <a href="apps/" class="button radius button_dol">Web & Desktop</a>
            
        </div>
    </div>
    <div class="row"><br /></div>
</div>
