<div class="valign_parent">
    <div id="choose" class="hometext">
        {{ choose | markdownify}}
        <a href="beginner/"  class="button radius cb1">Beginner</a>
        <a href="experienced/" class="button radius cb2">Experienced</a>
    </div>
</div>

<div id="stats">
    <table>
        <tr><td>
                {{ stats | markdownify }}
                <a href="try/" class="button radius">Try It Out</a>
                <a href="code/" class="button radius">Grab the Code</a>
            </td>
            <td>
                <img src="/img/3iPhones.png" alt="Three iPhones">
            </td>
        </tr>
    </table>   
</div>

<div id="cpi" class="hometext">
    <table>
        <tr><td>
                <img src="/img/Chart.png" alt="cpi graph">
            </td>
            <td>
                {{ cpi | markdownify }}
                <a href="data/" class="button radius">Sample the Data</a>
            </td>

        </tr>
    </table>  
</div>
<div class="valign_parent">
    <div id="grab">
        <h1>GRAB OUR CODE</h1>
        <div class="grabdiv">
            {{ grab1 | markdownify }}
            <a href="code/" class="button radius">Grab Code</a>
        </div>
        <div class="grabdiv">
            {{ grab2 | markdownify }}
            <a href="code/" class="button radius">Grab Code</a>
        </div>
        <div class="grabdiv">
            {{ grab3 | markdownify }}
            <a href="code/" class="button radius">Grab Code</a>
        </div>
    </div>
</div>