<div id = "menu">
            <div class="megamenu_container megamenu_dark_bar megamenu_light">
               <!-- Begin Menu Container -->
               <ul class="megamenu" role="navigation">
                  <!-- Begin Mega Menu -->
                 <li>
                 	<a href="#" class="no_megamenu_drop">USE THE API</a>
                      <!-- Begin Item -->
                  </li>
                  <!-- End Item -->

                  <li>
                 	   <a href="#" class="no_megamenu_drop">EXPLORE THE DATA</a>
                      
                  </li>
                  <!-- End Item -->

                  <li>
                     <a href="#" class="no_megamenu_drop">GRAB OUR CODE</a><!-- Begin Item -->

                  </li>
                  <!-- End Item -->
                  <!-- About DOL -->
                  <li>
                     <a href="#" class="megamenu_drop">SUPPORT</a><!-- Begin Item -->
                     <div class="dropdown_fullwidth dropdown_container">
                        <!-- Begin Item Container -->
                        <div class="col_5">
                           <!-- h3>About the U.S. Department of Labor</h3 -->
                           <ul>
                           </ul>
                        </div>
                     </div>
                     <!-- End Item container -->
                 </li>
                  <!-- End Item -->
                  <!-- Newsroom -->
                  <li>
                     <a href="#" class="no_megamenu_drop">ABOUT THE API</a><!-- Begin Item -->
                     
                  </li>
                  <!-- End Item -->
               </ul>
               <!-- End Mega Menu -->
            </div>
            <!-- End Menu Container -->
         </div>
<div class="valign_parent">
    <div id="choose" class="hometext">
        {{ choose | markdownify}}
        <a href="beginner/"  class="button radius cb1">Beginner</a>
        <a href="experienced/" class="button radius cb2">Experienced</a>
    </div>
</div>
<div id="stats">
    <table>
        <tr><td>
                {{ stats | markdownify }}
                <a href="try/" class="button radius">Try It Out</a>
                <a href="code/" class="button radius">Grab the Code</a>
            </td>
            <td>
                <img src="{{ site.baseurl }}/img/3iPhones.png" alt="Three iPhones">
            </td>
        </tr>
    </table>   
</div>

<div id="cpi" class="hometext">
    <table>
        <tr><td>
                <img src="{{ site.baseurl }}/img/Chart.png" alt="cpi graph">
            </td>
            <td>
                {{ cpi | markdownify }}
                <a href="data/" class="button radius">Sample the Data</a>
            </td>

        </tr>
    </table>  
</div>
<div class="valign_parent">
    <div id="grab">
        <h1>GRAB OUR CODE</h1>
        <div class="grabdiv">
            {{ grab1 | markdownify }}
            <a href="code/" class="button radius">Grab Code</a>
        </div>
        <div class="grabdiv">
            {{ grab2 | markdownify }}
            <a href="code/" class="button radius">Grab Code</a>
        </div>
        <div class="grabdiv">
            {{ grab3 | markdownify }}
            <a href="code/" class="button radius">Grab Code</a>
        </div>
    </div>
</div>
