<!DOCTYPE html>
<html lang="en">

    
  {% include head.html %}

  <body>
  <div data-alert class="alert-box warning radius">
  The DOL API will be undergoing scheduled maintenance from 7/31/2015 10:00 pm to 08/02/2015 12:00 noon. During this time the API will be unavailable.
  <a href="#" class="close">&times;</a>
</div>	  
  <div class="skip"> <a href="#maincontent">Skip to Main Content</a> </div>
    
    {% include header.html %}

    <div class="row">
      
        {{ content }}

    </div>

    {% include footer.html %}


  </body>

</html>
