---
layout: default
---
    <div class="row" data-equalizer>
        <div class="show-for-medium-up">
    <div class="large-4 columns" data-equalizer-watch>
        <div class="row">
            {% if page.categories contains 'health-and-safety' %}
            <div class="large-3 columns"><img src="{{ site.baseurl }}/img/health.png" class="menu_title_dataset_img" alt="Health Icon"></div>
            
            <div class="large-9 columns"><h1 class="menu_title_dataset">DOL HEALTH & SAFETY DATASETS</h1></div>
            {% elsif page.categories contains 'keeping-what-you-earn' %}
            <div class="large-3 columns"><img src="{{ site.baseurl }}/img/bank.png" class="menu_title_dataset_img" alt="Bank Icon"></div>

            <div class="large-9 columns"><h1 class="menu_title_dataset">KEEPING WHAT YOU EARN</h1></div>
            {% elsif page.categories contains 'expanding-growth' %}
            <div class="large-3 columns"><img src="{{ site.baseurl }}/img/charticon.png" class="menu_title_dataset_img" alt="Chart Icon"></div>

            <div class="large-9 columns"><h1 class="menu_title_dataset">Expanding Growth Opportunities & Learning</h1></div>
            {% elsif page.categories contains 'others' %}
            <div class="large-3 columns"><img src="{{ site.baseurl }}/img/purpleQs.png" class="menu_title_dataset_img" alt="Question Mark Icon"></div>

            <div class="large-9 columns"><h1 class="menu_title_dataset">DOL OTHER DATASETS</h1></div>
            {% endif %}
        </div>
        <div class="row">
            <ul class="accordion" data-accordion>
            <li class="accordion-navigation {% if page.categories contains 'health-and-safety' %}active{% endif %}">
                <a href="#healthsafe">Health & Safety</a>

                <div id="healthsafe" class="content cmenu {% if page.categories contains 'health-and-safety' %}active{% endif %}">
                    <ul>
                        {% for item in site.categories.health-and-safety %}
                            <li><a href="{{ site.baseurl }}{{ item.url }}" {% if item.title == page.title %}class="current_item"{% endif %}>{{ item.title }}</a></li>
                            
                        {% endfor %}
                    </ul>
                </div>
            </li>
            <li class="accordion-navigation {% if page.categories contains 'keeping-what-you-earn' %}active{% endif %}">
                <a href="#keeping">Keeping What You Earn</a>
                <div id="keeping" class="content cmenu {% if page.categories contains 'keeping-what-you-earn' %}active{% endif %}">
                    <ul>
                        {% for item in site.categories.keeping-what-you-earn %}
                        <li><a href="{{ site.baseurl }}{{ item.url }}" {% if item.title == page.title %}class="current_item"{% endif %}>{{ item.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
            <li class="accordion-navigation {% if page.categories contains 'expanding-growth' %}active{% endif %}">
                <a href="#expanding">Expanding Growth<br />Opportunities & Learning</a>
                <div id="expanding" class="content cmenu {% if page.categories contains 'expanding-growth' %}active{% endif %}">
                    <ul>
                        {% for item in site.categories.expanding-growth %}
                        <li><a href="{{ site.baseurl }}{{ item.url }}" {% if item.title == page.title %}class="current_item"{% endif %}>{{ item.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
            <li class="accordion-navigation {% if page.categories contains 'others' %}active{% endif %}">
                <a href="#others">Other Datasets</a>
                <div id="others" class="content cmenu {% if page.categories contains 'others' %}active{% endif %}">
                    <ul>
                        {% for item in site.categories.others %}
                        <li><a href="{{ site.baseurl }}{{ item.url }}" {% if item.title == page.title %}class="current_item"{% endif %}>{{ item.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
            </ul>
        </div>
</div>
</div>

        <div class="small-12 large-8 columns post" id="maincontent" data-equalizer-watch>

            <header class="post-header">
                <div class="show-for-small-only">
                    <div class="row">
                        <div class="small-12 columns
                     {% if page.categories contains 'health-and-safety' %}health_background
                     {% elsif page.categories contains 'keeping-what-you-earn' %}keep_background
                     {% elsif page.categories contains 'expanding-growth' %}expand_background
                     {% else %}others_background
                     {% endif %}
                     dataset_mob_head mobile_header">
                            <div class="row">
                                <a href="/dataset/">
                                    <div class="small-3 columns datasets_back">
                                        &lt;
                                    </div>
                                </a>

                                <div class="small-9 columns ">
                                    <h1>{{ page.title }}</h1>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <h1 class="post_title_dataset show-for-medium-up">{{ page.title }}</h1>

                <p class="post-meta">{% if page.meta %} • {{ page.meta }}{% endif %}</p>
            </header>

            <article class="post_content_dataset">
                {{ content | markdownify }}
            </article>

        </div>
    </div>

