---
layout: default
---
<div class="row" data-equalizer>
    <div class="large-4 columns show-for-medium-up" data-equalizer-watch>
        <ul class="accordion" data-accordion>
            <li class="accordion-navigation">
                <a href="#healthsafe">Health & Safety</a>

                <div id="healthsafe" class="content {% if page.categories contains 'health-and-safety' %}active{% endif %}">
                    <ul>
                        {% for item in site.categories.health-and-safety %}
                        <li><a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
            <li class="accordion-navigation">
                <a href="#keeping">Keeping What You Earn</a>
                <div id="keeping" class="content {% if page.categories contains 'keeping-what-you-earn' %}active{% endif %}">
                    <ul>
                        {% for item in site.categories.keeping-what-you-earn %}
                        <li><a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
            <li class="accordion-navigation">
                <a href="#expanding">Expanding Growth Opportunities & Learning</a>
                <div id="expanding" class="content {% if page.categories contains 'expanding-growth' %}active{% endif %}">
                    <ul>
                        {% for item in site.categories.expanding-growth %}
                        <li><a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
            <li class="accordion-navigation">
                <a href="#others">Other Datasets</a>
                <div id="others" class="content {% if page.categories contains 'others' %}active{% endif %}">
                    <ul>
                        {% for item in site.categories.others %}
                        <li><a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
        </ul>

    </div>


    <div class="large-8 columns post">

        <header class="post-header">
            <h1 class="post_title_dataset">{{ page.title }}</h1>

            <p class="post-meta">{% if page.meta %} • {{ page.meta }}{% endif %}</p>
        </header>

        <article class="post_content_dataset">
            {{ content | markdownify }}
        </article>

    </div>

</div>
